.grid {
    margin: 0 auto;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

.movie-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

.card-body {
    padding: 1.5rem;
}