h2 {
    text-align: center;
}

.movie-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.actor-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#actor-card {
    cursor: grabbing;
    min-width: 20rem;
}

.years-filter {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#btn-year {
    margin: 0.5rem;
}