<app-header></app-header>
<app-navbar></app-navbar>

<div id="movie-card" class="card text-bg-secondary" style="width: 18rem;">
    <img src="{{movie.artwork_url}}" alt="">
    <div class="card-body">
        <h4 class="card-title"> <i>{{movie.title}}</i></h4>
        <p class="card-text">
            {{movie.synopsis}}<br><br>
            <b>Lenght</b>: {{movie.lenght}}m<br><br>
            <b>Main Actor</b>: {{movie.main_actor}}<br><br>
            <a routerLink="/home"><button type="button" class="btn-close" aria-label="Close"></button></a>
        </p>
    </div>
</div>

<br><br>

<div class="movies-related">
    <h2>Total sales of <b>{{movie.title}}</b> by country:</h2>

    <table class="table table-warning">
        <thead>
            <tr>
                <th scope="col">Country</th>
                <th scope="col">Total Sales</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of country_sales | keyvalue">
                <td>{{c.key}}</td>
                <td>{{c.value}}</td>
            </tr>
        </tbody>
    </table>
</div>