@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

.h1 {
    color: rgba(200, 91, 91, 1);
    width: 176px;
    height: 36px;
    font-family: Barrio;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.mat-toolbar {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}