.moviesTop {
    display: flex;
    justify-content: space-evenly;
}

.h2Movies {
    text-align: center;
}

.navIcons {
    display: flex;
    justify-content: center;
}

.mov {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.moviePic img {
    width: 200px;
}

#searchbar {
    display: flex;
    justify-content: space-evenly;
}