@media (max-width: 320px) {
    /* ************************************************************************
     * Global
     * ********************************************************************* */

    .main-div {
        width: 100vw;
    }

    body {
        width: 100vw;
        margin: 0;
    }

    /* ************************************************************************
     * Sección Intro
     * ********************************************************************* */

    .sec-intro {
        display: flex;
        flex-direction: column-reverse;
    }

    .sec-intro img {
        max-width: 100%;
    }

    .perfil > img {
        max-width: 100%;
    }

    /* ************************************************************************
     * Sección Contacto
     * ********************************************************************* */

    .div-textarea > textarea {
        width: 95%;
    }
}
