.movie-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

.card-body {
    padding-top: 1.5rem;
}