* {
    margin: 0;
    padding: 0;
}

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}