<app-header></app-header>

<div class="accProfile">
    <div class="card">
        <img src="https://icotar.com/avatar/foo" class="card-img-top" alt="img" id="avatar" />
        <div class="card-body">
            <h5 class="card-title">Zel</h5>
            <a href="/profiles">Change profile</a>
        </div>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-light">Cuenta</button>
        <button type="button" class="btn btn-light">Ayuda</button>
        <button type="button" class="btn btn-light">Salir</button>
    </div>
</div>